<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  
  <h1 style="color:#34282C">
  <font face="Stencil Std"> Order Tracker</font><br><br>
    </h1>
    
  <div class="container">
  <span id="l1"><img src="assets/kpn2.PNG" style="float:left"></span><b style="float:left; font-size:16px; color:#34282C ">Public Order no:</b><br>
  <textarea style="float:left" rows="2" cols="100"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <!--<button style="float:left; width:150px; height:1.4cm;">Submit</button><br><br><br><br><br><br>-->
  <button type="button" style="float:left; width:150px; height:1.4cm;" class="btn btn-primary">Submit</button><br><br><br><br><br><br>
  <table border="3" bgcolor="#0EBFE9" class="table table-striped">
    
    <thead>
      <tr bgcolor="#472DCB" >

        <th style="color: white"><h4>Public Order no:</h4></th>
        <th style="color: white"><h4>WLP</h4></th>
        <th style="color: white"><h4>Cordys</h4></th>
         <th style="color: white"><h4>SIEBEL</h4></th>
          <th style="color: white"><h4>AIA</h4></th>
           <th style="color: white"><h4>BRM</h4></th>

      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><b><font color="#990000">WLP-15028756</font></b></td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td><b><font color="#990000">WLP-85828051</font></b></td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td><b><font color="#990000">WLP-95028799</font></b></td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td><b><font color="#990000">WLP-54028756</font></b></td>
        <td>Completed</td>
        <td>Completed</td>
        <td style="background-color: orange">Waiting</td>
        <td style="background-color: yellow">Not Reached</td>
        <td style="background-color: yellow">Not Reached</td>
      </tr>
      <tr>
        <td><b><font color="#990000">WLP-98028753</font></b></td>
        <td>Completed</td>
        <td>Completed</td>
        <td>Completed</td>
        <td style="background-color: red">Aborted</td>
        <td style="background-color: red">Aborted</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<router-outlet></router-outlet>
